<ul class="list-inline text-center">
    <li>
        목표 수량 :
        {{vm.production.quantity}}
    </li>
    <li>
        <strong>
            미수집 수량 :
            {{vm.production.piled_quantity | number:0}}
        </strong>
    </li>
    <li>
        완료 :
        {{vm.production.finish_quantity}}
    </li>
    <li>
        불량 수량 :
        {{vm.production.defect_quantity}}
    </li>
    <li>
        부족 수량 :
        {{vm.production.lack_quantity}}
    </li>

</ul>
