<h4 ng-if="vm.bundles.length == 0">
  포장된 제품이 없습니다.
</h4>
<table class="table" ng-if="vm.bundles.length > 0">
  <tr>
    <th>생산일시</th>
    <th>ID</th>
    <th>수량</th>
    <th>위치</th>
    <th>생산자</th>
    <th></th>
  </tr>
  <tr ng-repeat="b in vm.bundles">
    <td>{{b.createdAt|myDate}}</td>
    <td>{{b.resource_name}} ({{b.bundle}})</td>
    <td>{{b.quantity}} {{b.unit}}
    </td>
    <td></td>
    <td>{{b.creator_name}}</td>
    <td>
      <button type="button" ng-click="print(b.bundle)" class="btn btn-default btn-xs">
<i class="fa fa-barcode"></i>&nbsp; 재인쇄</button>
    </td>
  </tr>
</table>