<div class="panel panel-default scroll-div no-padding no-margin" style="height:270px;">
  <h4 class="text-center">
    완료
  </h4>
  <table class="table">
    <tbody>
      <tr ng-repeat="c in vm.finishContainer ">
        <td class="table-fixed-wh"><small>{{c.stock}}</small><br>
{{c.resource_name}}
        </td>
        <td class="table-fixed-wh text-right">{{c.quantity}}<span unit-show="c.unit"></span></td>
      </tr>
    </tbody>
  </table>
</div>
