<div id="sum_box" style="height:400px;" class="row">
  <div class="column col-sm-6 no-padding scrollbar" ng-show="!$root.hub.machine">
    <div ng-repeat="l in vm.productionList ">
      <div class="panel profit db no-margin " ng-model="vm.selected " ng-click="vm.change(l) ">
        <div id="each " class="panel-body " style="height:80px; border: 0.2px solid; " ng-class="vm.selectedCss(l) ">
          <div class="value col-sm-6 no-padding ">
            <div class="simple-head">{{l.parent.id}}</div>
            <small>{{l.parent.scheduleAt | myDate : 'half'}} </small>
          </div>
          <div class="value col-sm-6 no-padding ">
            <div class="simple-head" resource-show="l.resource " resource-name="l.resource_name "></div>
            <small>{{l.id}} </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 수량 화면 -->
  <div class="col-sm-6 no-padding" ng-show="!$root.hub.machine">
    <div class="panel no-margin">
      <div id="each " class="panel-body col-sm-12" style="height:400px; border: 0.2px solid; ">
        <div class="value col-sm-4 rightline">
          <small>포장 가능 수량</small>
          <h2> {{vm.packableQuantity || 0}} </h2>
        </div>
        <div class="value col-sm-4 rightline">
          <small>총 포장 수량</small>
          <h2> {{(vm.status.end_quantity ) || 0}} </h2>
        </div>
        <div class="value col-sm-4 ">
          <small>불량 수량</small>
          <h2 style="color:red; "> {{vm.status.defect_quantity || 0}} </h2>
        </div>
        <div class="col-sm-12 production-done">
          <!-- <span class="menu-title">수동 제어</span> --><button class="done-button pull-right" data-target="#modal-done" data-toggle="modal">작업 종료</button> </div>
      </div>
    </div>
  </div>
  <!-- 수량 화면 -->
  <div class="col-sm-12 no-padding" ng-show="$root.hub.machine">
    <div class="panel  no-margin">
      <div id="each" class="panel-body" style="height:400px; border: 0.2px solid; ">
        <div class="value col-sm-12 underline" style="height:70px;">
          <div class="value col-sm-9">
            <div class="simple-head" resource-show="vm.production.resource" resource-name="vm.production.resource_name"></div>
            <div></div>
            <small>{{vm.production.id}} </small>
          </div>
          <div class="value col-sm-3">
            <div class="simple-head">{{vm.production.parent.scheduleAt | myDate : 'half'}}</div>
            <small>{{vm.production.parent.id}} </small>
          </div>
        </div>
        <div class="value col-sm-12 padding-top">
          <div class="value col-sm-4 rightline">
            <h2>현재 생산 수량</h2>
            <h2 align="center" class="padding-top"> {{vm.status.start_quantity|| 0}} </h2>
          </div>
          <div class="value col-sm-4 rightline">
            <h2>미수집 수량</h2>
            <h2 class="padding-top"> {{(vm.status.end_quantity - vm.status.collect_quantity - vm.status.defect_quantity) || 0}} </h2>
          </div>
          <div class="value col-sm-4 ">
            <h2>불량 수량</h2>
            <h2 style="color:red;" class="padding-top"> {{vm.status.defect_quantity || 0}} </h2>
          </div>
        </div>
        <div class="value col-sm-12">
          <h2>총 생산계획 수량 : </h2>{{vm.production.quantity}} </div>
      </div>
    </div>
  </div>
</div>