.margin-all-side {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.padding-left-5 {
    padding-left: 5%;
}

.table-fixed-wh {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.scroll-div {
    overflow: auto;
    width: 100%;
}

.package-button {
    width: 100%;
    height: 30;
}

.no-margin {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.bottom-button {
    position: fixed;
    display: inline-block;
    z-index: 1;
    width: 93%;
    /*height: 150px;*/
    left: 55px;
    bottom: 0;
    vertical-align: bottom;
    text-align: center;
    float: none;
}

.button-overlap {
    border: 0.2px;
    border-style: solid;
    background: #f1f1f1;
    position: absolute;
    left: 0;
    bottom: 20px;
    vertical-align: bottom;
    display: inline-block;
}

.hover {
  background:  #0A819C;
  color: white;
}
