.scrollbar {
  max-height: 100%;
  overflow-y: scroll;
}

.underline {
  border-bottom: 1px solid #babcbf;
}

.rightline {
  border-right: 1px solid #babcbf;
}

.padding-top {
  padding-top: 20px;
}

.pull-right {
  float: right;
  bottom: 0
}

.simple-head {
  text-align: left;
  margin-top: 0px;
  font-size: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.simple-small-head {
  text-align: left;
  margin-top: 0px;
  font-size: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}