<!-- <div class="btn btn-block" ng-click="manual = !manual">수동 제어</div> -->
<div class="col-xs-12">
  <a href="" class="btn btn-info col-xs-4" ng-click="vm.start()" ng-disabled="starting">시작
      <i class="fa fa-spinner fa-pulse fa-fw" ng-show="starting"></i>
    </a>
  <a href="" class="btn btn-warning col-xs-4 " ng-click="vm.end()" ng-disabled="ending">종료
      <i class="fa fa-spinner fa-pulse fa-fw" ng-show="ending"></i>
    </a>
  <a href="" class="btn btn-success col-xs-4 " ng-click="vm.endOnly()" ng-disabled="ending">신호
      <i class="fa fa-spinner fa-pulse fa-fw" ng-show="ending"></i>
    </a>
</div>