<table md-table class="table" md-progress="deferred">
  <thead md-head>
    <tr md-row>
      <th md-column order-by="id">
        <span>LOT No.</span>
      </th>
      <th md-column order-by="resource_name" ng-hide="resource" hide-xs hide-sm>
        <span>자원명</span>
      </th>
      <th md-column order-by="container_name">
        <span>창고명</span>
      </th>
      <th md-column order-by="quantity">
        <span>현재고</span>
      </th>
      <th md-column order-by="updatedAt">
        <span>최근사용일</span>
      </th>
      <!-- <th md-column order-by="createdAt">
                    <label>최초 입고일</label>
                </th> -->
    </tr>
  </thead>
  <tbody md-body>
    <tr md-row ng-repeat="i in vm.recommend">
      <td md-cell>
        <a ng-click="selectInventory(i.id)">{{i.stock}}</a>
      </td>
      <td md-cell ng-hide="resource" hide-xs hide-sm>
        {{i.resource_name}}
      </td>
      <td md-cell>
        {{i.container_name}}
      </td>
      <td md-cell>{{i.originalQuantity | number:2}}{{i.unit}}
        <!-- <span unit-show="i.unit"></span> -->
      </td>
      <td md-cell>{{i.updatedAt | myDate}}</td>
    </tr>
  </tbody>
</table>
<div md-cell>
  강제로 투입 하시겠습니까?
  <button type="button" class="btn btn-primary" ng-click="vm.force()"> 확인</button>
</div>
<!-- <md-table-pagination md-limit="query.limit" md-page-select md-page="query.page" md-total="{{total}}" md-on-paginate="getInventories"></md-table-pagination> -->