// Loading config with variables (changing them leads to changing a color scheme)
@import "global/_variables";
// Utility mixins for greater good
@import "global/_mixins";
@import "global/_scaffolding";
// Spaces
@import "global/_spaces";
@import "mas/resource/list";
@import "mas/container/tree";
@import "mas/auth/register";

#page-wrapper {
    min-height: 1040px;
    height: 100%;
    /* equal to footer height */
    margin-bottom: -50px;
}
.temperatureMonitor{
  position:fixed;
  background-color: red;
  width: 50%;
  height: 400px;

}


#page-wrapper:after {
    content: "";
    display: block;
}

#footer {
    position: relative;
    bottom: 0;
}

#footer,
#page-wrapper:after {
    margin-top: 0;
}

.padding-top-20 {
    padding-top: 20px;
}

.navbar-right {
    margin-right: 0;
}
// FORM WIZARD
.alert-hide {
    display: none;
}

.alert {
    color: @color-red;
}

.main-title {
    color: @color-red;
}

.nest {
  padding-left: 10px;
}

.selected {
  border: solid;
}
#rootwizard-tabdetail2 {
    .navbar-inner .nav-pills {
        li {
            width: 20%;

            a {
                p.top {
                    position: absolute;
                    top: 10px;
                    left: 0;
                }

                p.icon {
                    i.fa {
                        width: 50px;
                        height: 50px;
                        border-radius: 25px !important;
                        border: 3px solid @brand-primary;
                        background-color: transparent;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }

                p.bottom {
                    position: absolute;
                    top: -10px;
                    left: 0;
                }
            }
        }
    }
}
