<i class="fa fa-arrow-up fa-2x no-padding" style="margin-bottom: -10px" ng-click="upper()"></i>
<h1 class="no-padding" style="margin-top: 0px; padding-top: 0px; maring-bottom: 0px; padding-bottom: 0px;">{{vm.number}}</h1>
<i class="fa fa-arrow-down fa-2x no-padding" style="margin-top: -10px;" ng-click="lower()"></i>
