<div id="sum_box" style="height:400px; " class="row">
  <div class="panel profit no-margin" ng-show="vm.containerCapacityOrPackageQuantity">
    <div id="each" class="panel-body" style="height:70px; border: 0.2px solid; color:yellow;background: #003566">
      <div class="value col-sm-12 no-padding">
        <h4>
          {{vm.containerCapacityOrPackage}}: {{vm.containerCapacityOrPackageQuantity}}
        </h4>
      </div>
    </div>
  </div>

  <div class="col-sm-12 no-padding" ng-repeat="l in vm.list">
    <div class="panel profit db no-margin" ng-model="vm.selected" ng-click="vm.change(l)">
      <div id="each" class="panel-body" style="height:80px; border: 0.2px solid;" ng-class="vm.selectedCss(l)">
        <div class="value col-sm-6 no-padding">
          <h4 resource-show="l.resource_data"></h4>
          <small ng-repeat="p in l.productionIds">{{p}} </small>
        </div>
        <div class="value col-sm-2 no-padding">
          <h4>
            <!-- {{vm.getSumByWorkQuatity(l.resource_data) || 0}} -->
            {{l.stat.work_quantity || 0}}
          </h4>
          <small>작업중 수량</small>
        </div>
        <div class="value col-sm-3 no-padding">
          <h4>
            <!-- {{vm.getSumByPiledQuatity(l.resource_data) || 0}} -->
            {{l.stat.piled_quantity || 0}}
            <span ng-hide="l.stat.remainder_quantity == 0">({{l.stat.remainder_quantity}})</span>
          </h4>
          <small>완료 수량</small>
        </div>
        <div class="value col-sm-1 no-padding">
          <h4 style="color:red;">
            {{l.stat.defect_quantity || 0}}
          </h4>
          <small>불량 수량</small>
        </div>
      </div>
    </div>
  </div>
  <!--
  <pre>
    {{$root.hub.target_resource_data|json}}
  </pre> -->

</div>