<!-- {{vm.remainderNum}} -->
<div class="text-center no-padding">
  <spin-number digit="3" ng-model="vm.remainderNum" style="overflow:auto;" ng-if="vm.remainder"></spin-number>
  <hr>
  <button class="btn btn-lg btn-block btn-primary" type="button" ng-click="vm.packageProduct()" ng-disabled="!$root.hub.operation_data.config.package">
        포장
    </button>
  <hr>
  <button class="btn btn-lg btn-block btn-info" type="button" ng-click="vm.remainderChange()" ng-if="!vm.remainder" ng-disabled="!$root.hub.operation_data.config.package">
        잔량
    </button>
  <hr>
  <button class="btn  btn-lg btn-block tn-warning" type="button" ng-click="vm.remainderChange()" ng-if="vm.remainder" ng-disabled="!$root.hub.operation_data.config.package">
        잔량 취소
    </button>
</div>