.sortable_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mastable {
    width: 100%;
    display: inline-table;
    border-width: 1px 1px 1px 1px;
    margin: 0;

    .type {
        width: 5%;
    }

    .name {
        width: 15%;
        text-align: left;
        font-weight: bold;
    }

    .img {
        width: 5%;
    }

    .code {
        width: 10%;
    }

    .head {
        background-color: #f1f1f1;
        font-weight: bold;
    }

    .category {
        width: 10%;
    }

    .stock_num {
        width: 5%;
    }

    .desc {
        width: 15%;
    }

    .quantity {
        width: 5%;
    }

    .date {
        width: 20%;
    }

    ul {
        vertical-align: middle;
        list-style: none;
        padding-left: 0;
        padding-top: 0;
        height: 40px;
        max-height: 40px;

        li {
            vertical-align: middle;
            float: left;
            height: 40px;
            max-height: 40px;
            /* border-right: 1px solid #d1d1d1; */
            text-align: center;
        }

        &:hover {
            background-color: @gray-light;
        }
    }
}

div.table .footer {
    display: table-row;
}

div.table ul.head li {
    text-align: center;
}
