<div class="panel income db mbm">
    <div class="panel-body">
        <p class="icon">
            <i class="icon fa fa-cube"></i>
        </p>
        <h4 class="value">
            <span>{{$root.status.MATERIAL_NUM.value}}</span>
            <span>종</span>
        </h4>
        <p class="description">재료 종류</p>
        <!-- <div class="progress progress-sm mbn">
<div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;" class="progress-bar progress-bar-info"><span class="sr-only">60% Complete (success)</span></div>
</div> -->
    </div>
</div>
