<div class="panel profit db mbm">
    <div class="panel-body">
        <p class="icon">
            <i class="icon fa fa-cubes"></i>
        </p>
        <h4 class="value">
            <span data-counter="" data-duration="0" data-end="50" data-start="10" data-step="1">{{$root.status.RESOURCE_NUM.value}}</span>
            <span>종</span>
        </h4>
        <p class="description">자원 갯수</p>
        <!-- <div class="progress progress-sm mbn">
<div role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;" class="progress-bar progress-bar-success"><span class="sr-only">80% Complete (success)</span></div>
</div> -->
    </div>
</div>
