<div class="container-fluid padding-top-10">
  <div class="jumbotron" ng-show="(!$root.hub.targetResource || !$root.hub.operation)  && $root.hub.machine">
    <h2>
      {{$root.hub.name}}
      <span ng-show="$root.hub.machine" class="label label-primary">{{$root.hub.machine.name}}</span>
    </h2>
    <h2 ng-show="!$root.hub.targetResource || !$root.hub.operation">
      생산이 할당되어 있지 않습니다.
    </h2>
    <h1 class="text-center" access-level="anon">로그인해주세요
    </h1>
  </div>

  <div ng-show="$root.error.recommend.length>0">
    <h2 ng-show="mode==='1'">재고를 사용할 수 없습니다.</h2>
    <p>아래 재고를 먼저 사용해야 합니다.</p>
    <div recommend-viewer="$root.error.recommend" forced="vm.forced" class="well"></div>
  </div>
  <div simple-production selected-production="vm.production" statused="vm.assigned" access-level="user" ng-show="($root.hub.targetResource && $root.hub.operation) || !$root.hub.machine"></div>
  <!-- <div class="row" access-level="user" manual-button></div> -->
</div>

<div button-group production="vm.production" resource="vm.resource" end-only="vm.endOnly" simple-collect="vm.simpleCollect"></div>