<div id="sum_box" style="height:400px; " class="row">
  <div class="panel profit no-margin">
    <div id="each" class="panel-body" style="height:70px; border: 0.2px solid; color:yellow; background: #003566">
      <div class="value col-sm-12 no-padding">
        <h4 ng-show="vm.selected.package_unit">
          포장 단위 :
          <span unit-show="vm.selected.package_unit" quantity="vm.unitQuantity"></span>
        </h4>
        <h4 ng-show="!vm.selected.package_unit">
          공정용 박스 단위 : {{vm.selected.containerCapacity.quantity}}
          <span unit-show="vm.selected.resource.unit"></span>
        </h4>
      </div>
    </div>
  </div>

  <div class="col-sm-12 no-padding" ng-repeat="l in vm.list">
    <div class="panel profit db no-margin" ng-model="vm.selected" ng-click="vm.change(l)">
      <div id="each" class="panel-body" style="height:80px; border: 0.2px solid;" ng-class="vm.selectedCss(l)">
        <div class="value col-sm-6 no-padding">
          <h4 resource-show="l.resource" resource-name="l.resource_name"></h4>
          <small ng-repeat="p in l.parentProduction">{{p}} </small>
        </div>
        <div class="value col-sm-2 no-padding">
          <h4>
            {{(l.start_quantity - l.end_quantity) || 0}}
          </h4>
          <small>작업중 수량</small>
        </div>
        <div class="value col-sm-3 no-padding" ng-class="vm.class[l.resource.id]">
          <h4>
            {{(l.end_quantity - l.collect_quantity - l.defect_quantity - l.package_quantity) || 0}}
            <span ng-if="$root.hub.operation_data.config.package && (vm.priority(l) < vm.unitQuantity)" style="color:white">({{vm.priority(l)}})</span>
          </h4>
          <small>미수집 수량</small>
        </div>
        <div class="value col-sm-1 no-padding">
          <h4 style="color:red;">
            {{l.defect_quantity || 0}}
          </h4>
          <small>불량 수량</small>
        </div>
      </div>
    </div>
  </div>
</div>
