<nav class="navbar-default navbar-static-side" id="sidebar" role="navigation">

  <div class="sidebar-collapse menu-scroll">
    <ul class="nav admin-nav-main" id="side-menu" ng-menu="">

      <li>
        <!-- <div class="thumb"><img alt="" class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" /></div>
        <div class="info">
          <p>{{$root.currentUser.username}}</p>
           <ul class="list-inline list-unstyled">
            <li>
              <a data-hover="tooltip" data-target="#modal-config" data-toggle="modal" href="javascript:void(0);" title="Setting">
                                <i class="fa fa-cog"></i>
                            </a>
            </li>
            <li>
              <a data-hover="tooltip" title="Logout" ui-sref="extra-signin">
                                <i class="fa fa-sign-out"></i>
                            </a>
            </li>
          </ul>
        </div> -->
      </li>

      <li access-level="user">
        <a ui-sref="print">
                    <i class="fa fa-print">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">프린트</span>
                </a>
      </li>

      <li access-level="user">
        <a data-target="#modal-default" data-toggle="modal">
                    <i class="fa fa-barcode">
                        <div class="icon-bg bg-orange"></div>
                    </i>
                    <span class="menu-title">바코드 수동 입력</span>
                </a>
      </li>

      <li>
        <a ng-click="reload()">
                    <i class="fa fa-refresh"></i>
                    <span class="menu-title">새로고침</span>
                </a>
      </li>

      <li access-level="user">
        <a data-target="#modal-manual" data-toggle="modal"> 
          <i class="fa fa-gear">
            <div class="icon-bg bg-orange"></div>
          </i>
          <span class="menu-title">수동 제어</span>
        </a>
      </li>

      <li>
        <a>
          <i class="fa fa-close">
          <div class="icon-bg bg-orange"></div>
             </i>
                    <span class="menu-title" data-target="#modal-shutdown" data-toggle="modal">허브 종료</span>
                </a>
      </li>

    </ul>
  </div>
</nav>