<nav class="navbar navbar-default" id="topbar" role="navigation" style="margin-bottom: 0;">
  <div class="navbar-header"> <button class="navbar-toggle" data-target=".sidebar-collapse" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    <a class="navbar-brand" ui-sref="public.home" id="logo">
      <span class="fa fa-rocket"></span>
      <span class="logo-text">신흥화학</span>
      <span class="logo-text-icon" style="display: none">SH</span>
    </a>
  </div>
  <div class="topbar-main"> <a id="menu-toggle" ng-click="header.collapse('k')">
            <i class="fa fa-bars"></i>
        </a>
    <div class="pull-left" style="margin-top:8px;">
      <span class="btn btn-primary" ng-show="$root.hub.target_resource_data.name"> {{$root.hub.target_resource_data.name}} </span>
      <span class="btn btn-warning" ng-show="$root.hub.operation_data.name">
      {{$root.hub.operation}} </span> <small class="btn btn-sm btn-info" ng-show="$root.hub.operation_data.mold">{{$root.hub.operation_data.mold}}</small>      </div>
    <ul class="nav navbar navbar-top-links navbar-right mbn">
      <li class="white-text" ng-show="$root.hub.name"> {{$root.hub.name}} / <small>{{$root.hub.additional.ip}}</small><br>
        <span ng-show="$root.hub.machine" class="label label-primary">{{$root.hub.machine.name}}</span>
      </li>
      <li access-level="anon"> <a ui-sref="public.signin">로그인</a> </li>
      <li access-level="user" class="dropdown topbar-user">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <!-- <img alt="" class="img-responsive img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/48.jpg"/>&nbsp; -->
          <span class="hidden-xs">{{$root.currentUser.name}}</span>&nbsp;
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-user pull-right">
          <li access-level="user"> <a ui-sref="user.logout">
            <i class="fa fa-key"></i>Log Out</a> </li>
        </ul>
      </li>
      <!-- <li class="hidden-xs" id="topbar-chat">
                <a class="btn-chat" data-intro="&lt;b&gt;Form chat&lt;/b&gt; keep you connecting with other coworker" data-position="left" data-step="2" href="javascript:void(0)" ng-click="header.toggle('chat')">
                    <i class="fa fa-comments"></i>
                    <span class="badge badge-info">3</span>
                </a>
            </li> -->
    </ul>
  </div>
</nav>
<!-- ng-show="in_temp && out_temp" -->
<div class="temperatureMonitor" ng-show="$root.hub.operation_data.mold"> 냉각수 온도
  <div class="row">
    <div class="col-xs-6 in" ng-show="in_temp">
      <h1>{{in_temp | number : 1}} <sup>℃</sup> </h1> IN </div>
    <div class="col-xs-6 out" ng-show="out_temp">
      <h1>{{out_temp | number : 1}} <sup>℃</sup> </h1> OUT </div>
  </div>
</div>