<div class="btn btn-success pull-right hidden-xs" ui-sref="resource.new">새로운 자원 추가하기</div>

<ul class="nav nav-tabs">
    <li ng-class="{active: vm.type===undefined}" ng-click="vm.filter()">
        <a data-toggle="tab">전체 보기
            <span class="badge badge-success">{{$root.status.RESOURCE_NUM.value}}</span>
        </a>
    </li>
    <li ng-class="{active: vm.type===1}" ng-click="vm.filter('material')">
        <a data-toggle="tab">재료
            <span class="badge badge-success">{{$root.status.MATERIAL_NUM.value}}</span>
        </a>
    </li>
    <li ng-class="{active: vm.type===2}" ng-click="vm.filter('half_product')">
        <a data-toggle="tab">반제품
            <span class="badge badge-success">{{$root.status.HALF_PRODUCT_NUM.value}}</span>
        </a>
    </li>
    <li ng-class="{active: vm.type===3}" ng-click="vm.filter('work_in_progress')">
        <a data-toggle="tab">재공품
            <span class="badge badge-success">{{$root.status.WORK_IN_PROGRESS_NUM.value}}</span>
        </a>
    </li>
    <li ng-class="{active: vm.type===4}" ng-click="vm.filter('product')">
        <a data-toggle="tab">제품
            <span class="badge badge-success">{{$root.status.PRODUCT_NUM.value}}</span>
        </a>
    </li>
    <li ng-class="{active: vm.type===6}" ng-click="vm.filter('equipment')">
        <a data-toggle="tab">금형/장비
            <span class="badge badge-success">{{$root.status.EQUIPMENT_NUM.value}}</span>
        </a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="row">
        <div class="col-md-6">
            <form ng-action="vm.pageChanged()">
                <div class="row">
                    <div class="col-xs-9">
                        <input class="form-control" name="query" ng-model="vm.query" placeholder="통합검색" type="text">
                    </div>
                    <div class="col-xs-3">
                        <button class="btn btn-success" ng-click="vm.pageChanged()" type="submit">서버검색</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-1 hidden-xs">
            <label for="">리밋</label>
            <input class="form-control" name="limit" ng-change="vm.pageChanged()" ng-debounce="500" ng-model="vm.limit" placeholder="한 페이지당 갯수" type="number">
        </div>
        <div class="col-sm-1 hidden-xs">
            <label for="">페이지</label>
            <input class="form-control" name="page" ng-debounce="500" ng-model="vm.page" placeholder="한 페이지당 갯수" type="number">
        </div>

    </div>
    <!-- <pre>{{vm|json}}</pre> -->
    <div class="tab-pane fade in active">

        <div class="box jplist" id="grid-layout-div">
            <div class="jplist-panel box panel-top">
                <div class="mastable">
                    <ul class="head">
                        <li by="{{vm.sort}}" class="type" on-condition-change="vm.conditionChanged" reverse="vm.reverse" sort-list="'type'">타입</li>
                        <li by="{{vm.sort}}" class="name" on-condition-change="vm.conditionChanged" reverse="vm.reverse" sort-list="'name'">이름</li>
                        <li by="{{vm.sort}}" class="quantity" on-condition-change="vm.conditionChanged" reverse="vm.reverse" sort-list="'stock_quantity'">가용재고</li>
                        <li by="{{vm.sort}}" class="quantity" on-condition-change="vm.conditionChanged" reverse="vm.reverse" sort-list="'stock_full_quantity'">총재고</li>
                        <li by="{{vm.code}}" class="code" on-condition-change="vm.conditionChanged" reverse="vm.reverse" sort-list="'code'">코드</li>
                        <li by="{{vm.sort}}" class="category" on-condition-change="vm.conditionChanged" reverse="vm.reverse" sort-list="'category'">카테고리</li>
                        <li by="{{vm.sort}}" class="date" on-condition-change="vm.conditionChanged" reverse="vm.reverse" sort-list="'createdAt'">날짜</li>
                        <li by="{{vm.sort}}" class="quantity" on-condition-change="vm.conditionChanged" reverse="vm.reverse" sort-list="'stock_num'">입고횟수</li>
                        <li by="{{vm.sort}}" class="desc" on-condition-change="vm.conditionChanged" reverse="vm.reverse" sort-list="'description'">비고</li>
                    </ul>
                </div>
                <div class="mastable">
                    <div ng-include="'resource/templates/list.html'"></div>
                </div>
            </div>
            <nav>
                <div class="text-center">
                    <dir-pagination-controls on-page-change="vm.pageChanged(vm.page)"></dir-pagination-controls>
                </div>
            </nav>

        </div>
    </div>
</div>

<!--END CONTENT-->
