<div class="page-title-breadcrumb">
    <div class="page-header pull-left">
        <div class="page-title">{{vm.resource.name}}
            자원 등록
        </div>
    </div>
    <ol class="breadcrumb page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>&nbsp;
            <a href="index.html">Home</a>&nbsp;&nbsp;
            <i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li>
            <a href="#">자원</a>&nbsp;&nbsp;
            <i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li>
            <a href="#">{{vm.resource.name}}</a>&nbsp;&nbsp;
            <i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
        <li class="active">편집</li>
    </ol>

    <div class="clearfix"></div>
</div>

<!-- <pre>{{vm.resource|json}}</pre> -->
<div class="well" data="vm.resource" resource-form="vm.resource.id"></div>


<div class="row">
    <div class="col-md-8">
        <div class="panel panel-yellow" ng-if="vm.checkHasBOM(vm.resource.type)">>
            <div class="panel-heading">BOM</div>
            <div class="panel-body">
                <div bom-list="vm.resource.id" data="vm.resource.component" form="vm.bomForm"></div>
                <div bom-form="vm.resource.id" bom="vm.resource.component" form="vm.bomForm"></div>

            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div data="vm.resource.attachment" resource-gallery="vm.resource.id"></div>

    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-lg-7">
            <div class="row">
                <div class="col-md-12" stock-summary></div>
            </div>
        </div>
        <div class="col-lg-5">
            제품원가
        </div>
    </div>
</div>
