<div class="row">
    <div class="col-md-3 col-sm-4">
        <div data="vm.resource.attachment" resource-gallery="vm.resourceId"></div>
    </div>
    <div class="col-md-6">
        <div class="text-right">
            <div class="btn btn-success" ui-sref="resource.new">새로운 자원 추가하기</div>
            <div class="btn btn-warning" ui-sref="resource.edit({resourceId:vm.resourceId})">편집하기</div>
            <div class="btn btn-danger" ng-click="vm.removeResource(vm.resourceId)">삭제하기</div>
        </div>
        <div resource-view="vm.resourceId" resource="vm.resource"></div>
    </div>
    <div class="col-md-3">
        <div stock-graph="vm.resourceId"></div>
    </div>
</div>
<div class="row">
  <div revision-list type="resource" id="vm.resourceId"></div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-green">
            <!-- <div class="btn btn-info pull-right" ng-click="vm.enterStock()">재고 입고</div> -->
            <div class="panel-heading">{{resource.name}}
                창고별 재고 현황
                <div class="toolbars">
                    <div stock-control="vm.resourceId" resource="vm.resource"></div>
                </div>
            </div>
            <div class="panel-body">
                <!-- <pre>{{vm.resource|json}}</pre> -->
                <div resource-inventory ng-if="vm.resource.stock_full_quantity" resource-id="vm.resourceId" resource="vm.resource" selected-inventory="vm.selectedInventory" selected-stock="vm.selectedStock" group-role="{title:'창고', field:'container_name', order:1}"></div>

                <div ng-hide="vm.resource.stock_full_quantity" class="text-center">재고가 없습니다.
                    <div stock-control="vm.resourceId" resource="vm.resource" customize-class="['btn-lg', 'btn-success']"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-6" ng-show="vm.selectedInventory">
        <div class="panel panel-orange">
            <div class="panel-heading">{{resource.name}}
                {{vm.selectedInventory.container_name}}에 있는 (입고일
                {{vm.selectedInventory.stock.createdAt | date}}, 최초 입고
                {{vm.selectedInventory.stock.quantity}}
                {{vm.selectedInventory.stock.unit}}
                중
                {{vm.selectedInventory.stock.now_quantity}}{{vm.selectedInventory.stock.unit}})의 재고단위
                {{vm.selectedInventory.quantity}}{{vm.selectedInventory.unit}}
            </div>
            <div class="panel-body">

                <!-- <pre>{{vm.selectedInventory | json}}</pre> -->

                <div inventory-log="vm.selectedInventory.id"></div>
                <div inventory-control="vm.selectedInventory.id" customize-class="['btn', 'btn-lg']" inventory="vm.selectedInventory"></div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-orange">
            <!-- <div class="btn btn-info pull-right" ng-click="vm.enterStock()">재고 입고</div> -->
            <div class="panel-heading">{{resource.name}}
                입고단위별 재고 현황
                <div class="toolbars">
                    <div stock-control="vm.resourceId" resource="vm.resource"></div>
                </div>
            </div>
            <div class="panel-body">
                <div ng-if="vm.resource.stock_num" resource-stock resource-id="vm.resourceId" selected-stock="vm.selectedStock" resource="vm.resource"></div>

                <div ng-hide="vm.resource.stock_num" class="text-center">재고가 없습니다.
                    <div stock-control="vm.resourceId" resource="vm.resource" customize-class="['btn-lg','btn-success']"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" ng-show="vm.selectedStock">
        <div class="panel panel-orange">
            <div class="panel-heading">{{vm.selectedStock.id}}
                (입고일
                {{vm.selectedStock.stock.createdAt | date}}, 최초 입고
                {{vm.selectedStock.stock.quantity}}
                {{vm.selectedStock.stock.unit}}
                중
                {{vm.selectedStock.stock.now_quantity}}{{vm.selectedStock.stock.unit}})
            </div>
            <div class="panel-body">
                <!-- <pre>{{vm.selectedInventory | json}}</pre> -->
                <div inventory-list selected-inventory="vm.selectedInventory" stock-id="vm.selectedStock.id" ng-if="vm.selectedStock.id"></div>
                <div stock-log="vm.selectedStock.id" ng-if="vm.selectedStock.id"></div>
                <!-- <div class="btn btn-lg btn-danger" ng-click="vm.removeStock(vm.selectedInventory.id)">삭제</div> -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" ng-if="vm.checkHasBOM(vm.resource.type)">
        <div class="panel panel-green">
            <div class="panel-heading">생산
                <div class="toolbars">
                    <div production-control="vm.resourceId" resource="vm.resource" create="true"></div>
                </div>
            </div>
            <div class="panel-body">
                <div form="vm.production" production-list resource-id="vm.resourceId" resource="vm.resource"></div>
                <!-- <div class="well" production-form="vm.production" resource-id="vm.resourceId" sheet="vm.resource.sheet"></div> -->
            </div>
        </div>
    </div>

    <div class="col-md-6" ng-if="vm.checkHasBOM(vm.resource.type)">
        <div class="panel panel-yellow">
            <div class="panel-heading">BOM
                <div class="toolbars">
                    <div bom-control="vm.resourceId" resource="vm.resource" create="true" customize-class="['btn-lg', 'btn-success']"></div>
                </div>
            </div>
            <div class="panel-body">
                <!-- {{vm.resource}} -->
                <div bom-list component="vm.resource.component" resource-id="vm.resourceId" select="vm.bom"></div>
            </div>
        </div>

        <div class="panel panel-blue">
            <div class="panel-heading">공정
                <div class="toolbars">
                    <div sheet-control="vm.resourceId" resource="vm.resource" create-class='btn-success' customize-class="['btn-sm']" create="true"></div>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-md-12 col-lg-12">
                    <div data="vm.resource.sheet" resource-id="vm.resourceId" select="vm.sheet" sheet-list></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<!-- <div class="well">
    <h4>공정 2-1</h4>
    <dl class="dl-horizontal">
        <dt>최소시간</dt>
        <dd>3</dd>
        <dt>최대시간</dt>
        <dd>6</dd>
        <dt>평균시간</dt>
        <dd>5</dd>
    </dl>
    <h4>소모하는 부품</h4>
    <dl class="dl-horizontal">
        <dt>최소시간</dt>
        <dd>3</dd>
        <dt>최대시간</dt>
        <dd>6</dd>
        <dt>평균시간</dt>
        <dd>5</dd>
    </dl>
    <h4>사용하는 장비</h4>
    <dl class="dl-horizontal">
        <dt>최소시간</dt>
        <dd>3</dd>
        <dt>최대시간</dt>
        <dd>6</dd>
        <dt>평균시간</dt>
        <dd>5</dd>
    </dl>
</div> -->

<!-- <div class="col-md-4">
    <h2>원가</h2>
    <dl class="dl-horizontal">
        <dt>제품원가</dt>
        <dd>
            <h4>17,524원</h4>
        </dd>
        <dt>가중치평균원가</dt>
        <dd>
            <h4>17,524원</h4>
        </dd>
        <dt>평균원가</dt>
        <dd>
            <h4>17,524원</h4>
        </dd>
        <dt>최고원가</dt>
        <dd>
            <h4>17,524원</h4>
        </dd>
        <dt>최저원가</dt>
        <dd>
            <h4>17,524원</h4>
        </dd>
    </dl>
</div> -->
