<div class="bottom-button row">
  <div class="col-sm-4 no-padding">
    <div class="panel col-sm-12 button-overlap" ng-show="vm.packageShow" package-product production="vm.production" resource="vm.resource" package-show="vm.packageShow"></div> <button class="btn btn-lg btn-info col-sm-12" type="button" ng-click="vm.funcSimpleCollect()" ng-if="!$root.hub.operation_data.config.package" ng-class="{'invisible':!$root.hub.operation_data}">
        <span ng-show="!$root.hub.operation_data.config.package">보내기</span>
      </button> <button class="btn btn-lg btn-green col-sm-12" type="button" ng-click="vm.showPackageButton()" ng-if="$root.hub.operation_data.config.package">
            <span ng-show="!vm.packageShow">포장</span>
            <span ng-show="vm.packageShow">포장 취소</span>
      </button> </div>

  <div class="col-sm-4 no-padding">
  </div>

  <!-- ng-class="{'invisible':$root.hub.operation_data.config.package}" -->


  <div class="col-sm-4 no-padding">
    <div class="panel col-sm-12 button-overlap" ng-show="vm.defectShow" defect-form defect-show="vm.defectShow"></div>
    <button class="btn btn-lg btn-primary col-sm-12" type="button" ng-click="vm.showDefectButton()" ng-class="{'invisible':!$root.hub.operation_data}">
          <span ng-show="!vm.defectShow">불량</span>
          <span ng-show="vm.defectShow">불량 취소</span>
        </button>
  </div>
</div>