<div class="page-form">
    <form class="form" name="vm.loginForm" ng-submit="vm.startLogin()">
        <div class="header-content">
            <h1>Log In</h1>
        </div>
        <div class="body-content">
            <h2>사원증을 입력해주세요</h2>
            <div class="form-group">
                <div class="input-icon right">
                    <i class="fa fa-user"></i>
                    <input class="form-control" name="barcode" ng-model="vm.login.barcode" placeholder="usercode" required type="text">
                </div>
            </div>

            <div class="form-errors" data-ng-if="vm.loginForm.barcode.$dirty">
                <div class="form-error" ng-show="vm.loginForm.barcode.$error.required">필수 입력 항목입니다.</div>
            </div>

            <div class="form-group pull-right">
                <button class="btn btn-success" type="submit">Log In &nbsp;
                    <i class="fa fa-chevron-circle-right"></i>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
    </form>
</div>
