.reg-block {
  width: 380px;
  padding: 20px;
  margin: 60px auto;
  background: #FFF;
  border-top: solid 2px #72C02C;
}
.reg-block-header {
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: solid 1px #EEE;
  h2 {
    text-align: center;
    margin-bottom: 15px;
  }
  p {
    text-align: center;
  }
}

.form-error{
  color: red;
}
