<!-- <spin-number digit="3" ng-model="quantity" class="text-center"></spin-number>

<ui-select name="resource" ng-model="select.selected" style="width:100%;" ng-disabled="disabled">
  <ui-select-match placeholder="단위 선택"> {{$select.selected.name}}</ui-select-match>
  <ui-select-choices refresh-delay="0" refresh="loadUnits($select.search)" repeat="c.symbol as c in units | filter: $select.search">
    <div ng-bind-html="trustAsHtml((c.name | highlight: $select.search))"></div>
  </ui-select-choices>
</ui-select> -->
<br />
<div class="btn btn-block btn-warning" ng-click="packaging()" >
    포장
</div>
