<div class="panel panel-default scroll-div no-padding" style="height:200px;">
  <h4 class="text-center">
    대기 / 진행
  </h4>
  <table class="table" ng-repeat="(stockId, bundles) in vm.materials">
    <tbody>
      <tr>
        <td colspan="2"><strong>{{stockId}}</strong></td>
        <td class="text-right">{{sumQuantity(bundles)}}
          <span unit-show="vm.materials[stockId][0].unit"></span>
        </td>
      </tr>
      <tr ng-repeat="bundle in bundles | orderBy : ['-createdAt', 'quantity']">
        <td class="table-fixed-wh">{{bundle.resource_name}}</td>
        <td class="table-fixed-wh">{{bundle.updator.name}}</td>
        <td class="table-fixed-wh text-right">{{bundle.quantity}} <span unit-show="bundle.unit"></span></td>
        <!-- <td class="table-fixed-wh">{{bundle.log_machine}}</td> -->
      </tr>
    </tbody>
  </table>
</div>
