<div class="container-fluid padding-top-20">

    <div class="jumbotron">
        <h1>서버 연결이 끊김</h1>
        <p>인터넷 연결을 확인하고, 서버가 제대로 작동하는지 확인해주세요</p>
        <p>자동으로 재접속을 시도중입니다.</p>
    </div>

</div>
