<div class="panel-heading">불량 보고</div>

<div class="panel-body text-center">
    <spin-number digit="3" ng-model="vm.number"></spin-number>
    <br/>
    <br/>
    <br/>
    <div class="col-xs-12">

        <div class="row">

            <div class="col-xs-6 no-padding btn btn-success height-50" ng-repeat="d in vm.defectTypes" ng-disabled="!vm.number || invalid || vm.number > vm.max" ng-click="vm.defect(d.id)">{{d.name}}</div>

        </div>
    </div>
</div>
